<!-- TODO: HTML AUS AUFGABE2 HIERHER KOPIEREN UND DIE BEISPIEL-EINTRÄGE DER DISCOVERY-LISTE MIT DEN FOLGENDEN ZEILEN ERSETZEN -->

<!DOCTYPE html>

<!-- File origin: VS1LAB A1a -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTagApp</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <link rel='stylesheet' href='https://unpkg.com/leaflet@1.9.4/dist/leaflet.css'
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header class="header">
        <div class="header-elements">
            <img src="./images/location.png" class="header__image" alt="an image of a map and location">
            <h1 class="header__title">GeoTagApp</h1>
            <nav class="header__navigation">
                <a href="#">About</a> | <a href="#">Help</a> | <a href="/">Home</a>
            </nav>
        </div>
    </header>

    <main class="main">
        <section class="main__tagging tagging">
            <h2>Tagging</h2>

            <!-- ############### VS1Lab 1a Form 1 Start -->
            <form id="tag-form" action="/tagging" method="post">
                <fieldset>
                    <Legend>Add a new GeoTag</Legend>
                    <label for="latitude">Latitude:</label>
                    <input type="number" name="latitude" id="latitude" value='<%= latitude %>' readonly>
                    <label for="longitude">Longitude:</label>
                    <input type="number" name="longitude" id="longitude" value='<%= longitude %>' readonly>
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" placeholder="e.g Central Berlin" maxlength="10" required>
                    <label for="hashtag">Hashtag:</label>
                    <input type="text" name="hashtag" id="hashtag" placeholder="e.g #ber" maxlength="11" pattern="#[A-Za-z]{0,10}">
                    <input type="submit" id="tagbutton" value="Add Tag">
                </fieldset>
            </form>
            <!-- ############### VS1Lab 1a Form 1 End -->

        </section>

        <section class="main__discovery discovery">
            <h2 class="discovery__title">Discovery</h2>

            <!-- ############### VS1Lab 1a Form 2 Start -->
            <form class="discovery__search" id="discoveryFilterForm" action="/discovery" method="post">
                <fieldset>
                    <Legend>Search</Legend>
                    <label for="searchterm">Search term or keywords:</label>
                    <input type="text" name="searchterm" id="searchterm" placeholder="e.g Berlin">
                    <input type="hidden" name="latitudeDiscovery" id="latitudeDiscovery" value='<%= latitude %>'>
                    <input type="hidden" name="longitudeDiscovery" id="longitudeDiscovery" value='<%= longitude %>'>
                    <input type="submit"  id="searchbutton" value="Search">
                </fieldset>
            </form>
            <!-- ############### VS1Lab 1a Form 2 End -->

            <div class="discovery__wrapper">
                <div class="discovery__taglist">
                    <ul class="discovery__results" id="discoveryResults">
                        <% if (taglist !==undefined) taglist.forEach(function(gtag) { %>
                            <li>
                                <%= gtag.locationName %> ( <%= gtag.latitude %>,<%= gtag.longitude %>) <%= gtag.hashtag %>
                            </li>
                            <% }); %>
                    </ul>
                </div>

                <div class="discovery__map">
                    <div id="map" data-tags='<%= JSON.stringify(taglist) %>'>
                        <img src="./images/mapview.jpg" alt="a map with locations" id="mapView" />
                        <span>Result map</span>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer class="footer">
        <span>(c) 2021/22 HKA_IWI_VSYS</span>
    </footer>
</body>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
<script src="./javascripts/map-manager.js "></script>
<script src="./javascripts/location-helper.js"></script>
<script src="./javascripts/geotagging.js "></script>

</html>